img {
    width: 600px;
    height: 500px;
}

.navbar{
    background-color: brown;
}

.logga-topp{
    color: darkorange;
    font-family: fantasy;
    font-style: inherit;
    font-size:x-large ;

}

#välkommen{
    font-size: larger;
 font-family: monospace;
 font-weight: bold;
 color: chartreuse;
}
 body {

    font-size: 1em;
    background-color: darkmagenta;
} 

